/* Estilos para el cuerpo de la página */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #13b2dfcb;
    padding: 20px;
    background-size: cover; 
    background-position: below;
    opacity: 0; /* Establecer opacidad inicial a 0 */
    animation: fadeIn 2s ease forwards; /* Aplicar animación de fadeIn */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilo para el encabezado (header) con imagen de fondo */
header {
    background-image: url('imagenes/primera\ \ tapa-02\ \(2\).jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; /* Altura del encabezado */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; /* Color del texto en el encabezado */
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 100px;
}
/* Estilos adicionales para el botón de asistencia online */
.boton-asistencia {
    position: fixed; /* Posición fija para que el botón esté siempre visible */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde el lado derecho */
    background-color: #0d63be; 
    color: #ffffff; /* Color del texto blanco */
    font-size: 16px; 
    padding: 10px 20px; /* Relleno interno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 50%; /* Borde redondeado para que sea circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
    z-index: 9999; /* Asegura que el botón esté sobre otros elementos */
}

/* Cambio de color de fondo al pasar el cursor sobre el botón */
.boton-asistencia:hover {
    background-color: #0056b3; 
}




header h1 {
    margin-bottom: 450px; 
}

/* Estilo de la tabla */
section {
    margin: 0 auto; 
    max-width: 800px; 
    margin-bottom: 80px; 
}

/* Estilos para la tabla */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

/* Estilos para las celdas de la tabla */
th, td {
    padding: 10px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde */
}

/* Estilos para los enlaces en el menú de navegación */
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 10px; 
    font-size: 20px; 
    margin: 0 10px;
    position: relative; 
}

nav a::after {
    content: ''; /* Contenido generado */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: transparent; /* Color inicial transparente */
    transition: background-color 0.3s ease; /* Transición del color */
}

nav a:hover::after {
    background-color: rgba(0, 0, 0, 0.6); /* Color celeste con opacidad del 60% */
}

/* Estilos para el pie de página (footer) */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 8px 0; /* Aumentar el espacio interno superior e inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black; /* Borde superior negro */
}

/* Estilos para el cuerpo de la página */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    padding: 20px;
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
    background-position: below;
    opacity: 0; /* Establecer opacidad inicial a 0 */
    animation: fadeIn 0.5s ease forwards; /*  animación de fadeIn al cargar la página */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Animación de fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 10; 
    }
    100% {
        opacity: 1; 
    }